.div4 {
  text-align: center;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: bold;
  font-style: oblique;
}

ul {
  display: flex;
}

button {
  margin-left: 8px;
  border-radius: 8px;
}

button:hover {
  border: none;
  cursor: pointer;
}

.text {
  outline: none;
  border-radius: 8px;
  height: 20px;
}

.li {
  margin-left: -10px;
}
